@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    list-style: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-ubuntumono overflow-x-hidden ;

}


.filter-grey {
    filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%) hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */

@layer utilities {
    .wrapper {
        @apply mx-auto w-full max-w-screen-xl px-4;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .common-padding {
        @apply md:py-20 py-12;
    }

    .common-padding-huge {
        @apply py-36;
    }

    p {
        @apply leading-[18px]
    }

    /* TYPOGRAPHY */
    /*MARGUEE TEXT */
    .marquee {
        @apply text-[140px]  whitespace-nowrap uppercase tracking-wide;
    }

    .sectionPadding {
        @apply lg:min-h-[38vh] lg:pt-[50px] min-h-[35vh] pt-[35px]  ;
    }

    /* 64 */
    .h1-bold {
        @apply font-bold text-[35px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[60px];
    }

    /*42 */
    .h2-medium-42 {
        @apply font-medium text-[30px] leading-[38px] lg:text-[40px] lg:leading-[35px] xl:text-[42px] xl:leading-[40px] mb-4;
    }

    /* 40 */
    .h2-bold {
        @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[55px] xl:leading-[48px];
    }

    .h2-medium {
        @apply font-medium text-[25px] leading-[40px] lg:text-[40px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    .h2-normal {
        @apply font-normal text-[25px] leading-[40px] lg:text-[40px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    }

    /* 36 */
    .h3-bold {
        @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
    }

    .h3-medium {
        @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
    }

    /* 32 */
    .h4-medium {
        @apply font-medium text-[32px] leading-[35px] ;
    }

    .p-medium-32 {
        @apply font-medium text-[32px];
    }

    /* 28 */
    .h5-bold {
        @apply font-bold text-[28px] leading-[35px];
    }

    .h5-link {
        @apply font-normal text-[28px] leading-[36px];
    }

    .p-medium-28 {
        @apply font-medium text-[28px] leading-[30px];
    }

    .p-medium-28-semibold {
        @apply font-semibold text-[28px];
    }

    /* 24 */
    .p-bold-24 {
        @apply font-bold text-[24px] leading-[36px];
    }

    .p-medium-24 {
        @apply font-medium text-[24px] leading-[50px];
    }

    .p-regular-24 {
        @apply font-normal text-[24px] leading-[28px];
    }

    /* 20 */
    .h3-semibold-20 {
        @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
    }

    .p-bold-20 {
        @apply font-bold text-[20px] leading-[30px] tracking-[2%];
    }

    .p-semibold-20 {
        @apply text-[18px] lg:text-[20px] font-semibold leading-[22px] tracking-[2%];
    }

    .p-medium-20 {
        @apply text-[20px] font-medium leading-[30px];
    }

    .p-regular-20 {
        @apply text-[20px] font-normal leading-[50px] tracking-[2%];
    }

    /* 18 */
    .p-semibold-18 {
        @apply text-[18px] font-semibold leading-[22px] tracking-[2%];
    }

    .p-medium-18 {
        @apply text-[18px] font-medium leading-[28px];
    }

    .p-regular-18 {
        @apply text-[18px] font-normal leading-[28px] tracking-[2%];
    }

    .p-bold-18 {
        @apply text-[18px] font-bold leading-[24px];
    }

    .p-tabs-18 {
        @apply text-[18px] font-bold leading-[24px] cursor-pointer hover:text-secondary-blue-hover;
    }

    /* 16 */
    .p-bold-16 {
        @apply text-[16px] font-bold leading-[24px];
    }

    .p-medium-16 {
        @apply text-[16px] font-medium leading-[24px];
    }

    .p-regular-16 {
        @apply text-[16px] font-normal leading-[24px];
    }

    .p-tabs-16 {
        @apply text-[16px] font-bold leading-[24px] cursor-pointer hover:text-secondary-blue-hover;
    }

    /* 14 */
    .p-semibold-14 {
        @apply text-[14px] font-semibold leading-[20px];
    }

    .p-medium-14 {
        @apply text-[14px] font-medium leading-[20px];
    }

    .p-regular-14 {
        @apply text-[14px] font-normal leading-[20px];
    }

    /* 12 */
    .p-medium-12 {
        @apply text-[12px] font-medium leading-[20px];
    }

    /* SHADCN OVERRIDES */
    .select-field {
        @apply w-full bg-grey-50 h-[54px] placeholder:text-grey-500 rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent !important;
    }

    .input-field {
        @apply bg-grey-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent !important;
    }

    .textarea {
        @apply bg-grey-50 flex flex-1 placeholder:text-grey-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent !important;
    }

    .button-blue {
        @apply rounded-lg h-[54px] p-regular-16  px-4 py-3 bg-secondary-blue text-white;
    }

    .button-white {
        @apply rounded-lg h-[54px] p-regular-16 px-4 py-3 text-white border-[1px];
    }

    .select-item {
        @apply py-3 cursor-pointer  focus:bg-primary-50;
    }

    .toggle-switch {
        @apply bg-gray-300 !important;
    }
}

/* ========================================== CUSTOM STYLES */

.map {
    height: 600px !important;
    width: 100% !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #515151;
    margin: 1em 0;
    padding: 0;
}

.stickycart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.slick-prev:before,
.slick-next:before {
    color: #0023eb !important;
    z-index: 99;
}

.cart .slick-slide {
    transition: all 0.8s;
    opacity: 0.2;
    transform: scale(0.7);
}

.cart .slick-active {
    opacity: 0.5;
}

/* center box */

.cart .slick-center {
    transform: scale(1);
    opacity: 1;
    animation: 2.5s shinneDiv alternate-reverse infinite;
    /* transform: scaleX(2); */
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    overflow-x: clip;
    overflow-y: visible;
}

@keyframes shinneDiv {
    0% {
        filter: drop-shadow(0px 0px 0px #141414);
    }
    50% {
        filter: drop-shadow(0px 0px 10px #141414);
    }
    100% {
        filter: drop-shadow(0px 0px 0px #141414);
    }
}

.slick-dots li.slick-active button:before {
    color: #0023eb !important;
    opacity: 1 !important;
}

.titleFrame {
    @apply bg-blue-1 w-fit rounded-xl px-8 text-white mb-2;
}

.titleRedFrame {
    @apply bg-red-1 w-fit rounded-xl px-8 text-white mb-2;
}

.titleFrame-red {
    @apply bg-red-600 w-fit rounded-xl px-8 text-white mb-2;
}

.slick-dots {
    bottom: -35px !important;
}

/* Swiper */

.slider-controler .slider-arrow::after {
    content: "";
}

.slider-controler .slider-arrow {
    background: white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.slider-controler .slider-arrow .arrow {
    font-size: 2rem;
    color: #222224;
}

.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.slider-controler {
    position: relative;
    padding: 30px;

}

.swiper-slide {
    filter: brightness(50%);
    filter: grayscale(100%);
}

.swiper-slide-active {
    filter: brightness(100%);
    filter: grayscale(0%);
}

.swiper-slide-active {
    animation: 2.5s shinneDiv alternate-reverse infinite;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
    padding: 20px;
}

@media only screen and (max-width: 760px) {
    .slider-controler .slider-arrow {
        background: white;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        left: 20%;
        transform: translateX(-42%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-58%) !important;
    }


}

.red .swiper-pagination-bullet-active {
    background-color: red !important;

}

.swiper-slide-active{

}


.icons {
    border-radius: 100%;
    border: 1px solid white;
    padding: 6px;
    transition: all 0.4s;

    &:hover {
        background: white;
        color: black;
    }
}

.link {
    @apply text-gray-2 hover:text-white/60  p-medium-16  transition-all duration-200;
}

.linkMobile {
    @apply text-gray-2 hover:text-white/60   transition-all duration-200;
}

.linkSmall {
    @apply text-primary-50   text-[12px]  transition-all duration-200;
}


.mainLinkBlue {
    z-index: 90;

    &:hover {
        color: white;
    }

    &::before {
        @apply bg-blue-1;
        position: absolute;
        left: -10px;
        top: 0;
        content: '';
        width: 1%;
        height: 100%;
        padding: 10px 0;
        transition: all .4s;
        z-index: -1;
        border-radius: 4px;
    }

    &:hover::before {
        width: 100%;
        @apply bg-blue-1;
    }

}

.mainLinkRed {
    z-index: 90;

    &:hover {
        color: white;
    }

    &::before {
        @apply bg-red-1;
        position: absolute;
        left: -10px;
        top: 0;
        content: '';
        width: 1%;
        height: 100%;
        padding: 10px 0;
        transition: all .4s;
        z-index: -1;
        border-radius: 4px;
    }

    &:hover::before {
        width: 100%;
        @apply bg-red-1;
    }

}

.particle-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.particle-container canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}


/*Menu*/


.bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.bar span {
    position: absolute;
    width: 30px;
    height: 3px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 8px;
}

.bar span.bottom {
    bottom: 0;
}


/*//BLOG*/

.imgBlog{
    @apply w-full h-[400px] object-cover my-8 rounded-xl
}


/*// HOME*/

.leftFire , .rightFire {
    filter: grayscale(100%);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.leftLinkHand:hover ~ .leftFire{
    filter: grayscale(0%);
}

.RightLinkHand:hover ~ .rightFire{
    filter: grayscale(0%);
}